
.region {
    margin: 0 0 6px;
    font-size: 14px;
    color: var(--muted);
    display: inline-block;
    vertical-align: middle;
}

.sort-btn {
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid var(--border);
    /* background: linear-gradient(180deg, #fff, var(--accent-light)); */
    cursor: pointer;
    font-size: 14px;
    margin : 8px 0 2px 2px;
    float: right;
}


.sort-btn.asc{
    background-color: rgb(153, 221, 153);
}

.sort-btn.desc{
    background-color: rgb(237, 158, 158);
}


